<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="global/head::header-main"/>


<body class="nav-md">
<div class="container body">
  <div class="main_container">
    <!-- page content -->
    <div class="col-md-12">
      <div class="col-middle">
        <div class="text-center">
          <h1 class="error-number">500</h1>
          <h2>Internal Server Error</h2>
          <div class="error-desc">
            We track these errors automatically, but if the problem persists feel free to contact us.
            In the meantime, try refreshing.<br/>
            You can go back to main page: <br/>
            两秒后会自动跳转！ <br/>
            <a href="#" onclick="window.history.go(-1)" class="btn btn-secondary">Dashboard</a>
          </div>

        </div>
      </div>
    </div>
    <!-- /page content -->
  </div>
</div>
<script>
  setTimeout(function () {
    window.location.href = getRealPath() + "/index";
  }, 2000)
</script>
</body>
</html>
