<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="global/head::header-main"/>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div th:include="global/menu::index"></div>


        <!-- page content -->
        <div class="right_col" role="main">
            <h1>别看了，这傻逼网站还什么功能都没有(除了登录功能是真的)</h1>

            <!-- top tiles -->

            <!-- /top tiles -->


            <!-- /page content -->

            <!-- footer content -->

            <!-- /footer content -->
        </div>
    </div>
</div>
<script th:src="@{/js/build/custom.min.js}"></script>
<script th:src="@{/js/common/main.js}"></script>
</body>
</html>
