<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="global/head::header-main"/>

<body class="login">
<div>
    <a class="hiddenanchor" id="signup"></a>
    <a class="hiddenanchor" id="signin"></a>

    <div class="login_wrapper">
        <div class="animate form login_form">
            <section class="login_content">
                <form id="loginForm" class="form-horizontal">
                    <h1>登录</h1>
                    <div>
                        <input type="text" name="username" id="username" class="form-control" placeholder="用户名"
                               required/>
                    </div>
                    <div>
                        <input type="text" class="form-control" name="password" id="password" placeholder="密码"
                               minlength="4" onfocus="this.type='password'" required>
                    </div>
                    <div>
                        <img  class="imgVerify" id="imgVerify" name="imgVerify" src="" onclick="getVerify();" title="重新获取"/>
                        <input type="text" placeholder="验证码" class="form-control" id="imagecode1" name="imagecode"
                               minlength="4" required/>
                        <p style="width: 30px"></p>

                        <input type="text" id="sessionId" name="sessionId" style="display: none"/>

                    </div>

                    <div style="margin-top: -20px">
                        <input class="btn btn-default submit" type="submit"
                               style="margin-left:50px;color: #5A738E;font-size: 13px;margin-top: 6px;background: none;border: none"
                               value="登入">
                        <a class="reset_pass" href="#">忘记密码?</a>
                    </div>

                    <div class="clearfix"></div>

                    <div class="separator">
                        <p class="change_link">首次登录?
                            <a href="#signup" class="to_register"> 创建账户 </a>
                        </p>

                        <div class="clearfix"></div>
                        <br/>
                        <div>
                            <h1><i class="fa fa-github"></i> 叮当猫</h1>
                            <p>©2022 All Rights Reserved. Privacy and Terms</p>
                        </div>
                    </div>
                </form>
            </section>
        </div>

        <div id="register" class="animate form registration_form">
            <section class="login_content">
                <form id="fom2">
                    <h1>创建用户</h1>
                    <div>
                        <input type="text" id="username1" name="username1" class="form-control" placeholder="用户名"
                               required=""/>
                    </div>
                    <div>
                        <input type="email" id="email" name="email" class="form-control" placeholder="邮箱" required=""/>
                    </div>
                    <div>
                        <input type="text" class="form-control" name="password1" id="password1" placeholder="密码"
                               minlength="4" required onfocus="this.type='password'">
                    </div>

                    <div>
                        <a class="btn btn-default submit" href="index">提交</a>
                    </div>

                    <div class="clearfix"></div>

                    <div class="separator">
                        <p class="change_link">老用户 ?
                            <a href="#signin" class="to_register"> 登入 </a>
                        </p>

                        <div class="clearfix"></div>
                        <br/>

                        <div>
                            <h1><i class="fa fa-github"></i> 叮当猫</h1>
                            <p>©2022 All Rights Reserved. Privacy and Terms</p>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" th:src="@{/js/login/main.js}"></script>
<link th:href="@{/css/login/login.css}" rel="stylesheet">
</html>
